@import "state";
@import "layout";
@import "module";
@import "base";

.l-sidebar {
  .grid-stack-item {
    //width: 271px!important;
    //left: 0!important;
    left: 5px;
    margin-top: 50px;
    .grid-stack-item-content {
      left: 0!important;
      //width: 100% !important;
    }
  }
}
//.grid-stack-item {
//  left: 7px;
//}
